.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(./assets/icons.png);
  transform: scale(1.5);
}

.icon-bottle-red {
  background-position: 0 353px;
}

.icon-bottle-blue {
  background-position: -32px 353px;
}

.icon-bottle-green {
  background-position: -64px 353px;
}

.icon-bottle-yellow {
  background-position: -96px 353px;
}

.icon-bottle-red-plus {
  background-position: -128px 353px;
}

.icon-bottle-blue-plus {
  background-position: -160px 353px;
}

.icon-bottle-green-plus {
  background-position: -192px 353px;
}

.icon-bottle-yellow-plus {
  background-position: -224px 353px;
}

.icon-bottle-red-stars {
  background-position: -256px 353px;
}

.icon-bottle-blue-stars {
  background-position: -288px 353px;
}

.icon-bottle-green-stars {
  background-position: -320px 353px;
}

.icon-bottle-yellow-stars {
  background-position: -352px 353px;
}